/logs/
/pdf/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.xdv
*.synctex.gz
/build/**/*.aux
/build/**/*.log
/build/**/*.out
/build/**/*.toc
/build/**/*.lof
/build/**/*.lot
/build/**/*.fls
/build/**/*.fdb_latexmk
/build/**/*.xdv
/build/**/*.pdf
